body {
    margin: 0;
    font-family: oswald;
    background: hsla(196, 84%, 63%, 1);
    background: linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background: -moz-linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background: -webkit-linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background-attachment: fixed;
}
*{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 10%;
    background-color: hsla(196, 84%, 63%, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contents{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.interests{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-width: 20px;
    border-right: hsla(196, 84%, 63%, 1) solid 10px;
    box-sizing: border-box;
}
.interest{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 10%;
    background: hsla(208, 100%, 39%, 1);
    background: linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    font-size: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.events{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top3{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.n1{
    height: 90%;
    width: 30%;
}
.n2{
    height: 60%;
    width: 25%;
}
.n3{
    height: 40%;
    width: 20%;
}
.t3i{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.lists{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    border-top: hsla(196, 84%, 63%, 1) solid 10px;
    box-sizing: border-box;
}
.eventlist{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.welcome{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: oswald;
}

.filler{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.login{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.titler{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.xshift{
    margin-left: 10px;
}
.event{
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    height: 40%;
    background: hsla(208, 100%, 39%, 1);
    background: linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoutbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.evimage{
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.intimage{
    width: 20%;
    height: 100%;
    object-fit: cover;
}
img{
    border-radius: 10px;
}
select{
    background-color: deepskyblue;
    border: lightblue solid 3px;
    border-radius: 10px;
    color: white;
}
input{
    background-color: deepskyblue;
    border: lightblue solid 3px;
    border-radius: 10px;
    color: white;
}
.categorylist{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category{
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    height: 40%;
    background: hsla(208, 100%, 39%, 1);
    background: linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    font-size: 30px;
    border-radius: 10px;
}
@font-face
{
    font-family: oswald;
    src: url(/fonts/oswald.ttf);
}
