body {
    margin: 0;
    font-family: oswald;
    background: hsla(196, 84%, 63%, 1);
    background: linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background: -moz-linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background: -webkit-linear-gradient(270deg, hsla(196, 84%, 63%, 1) 20%, hsla(220, 78%, 29%, 1) 80%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
*{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 10%;
    background-color: hsla(196, 84%, 63%, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contents{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.welcome{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: oswald;
}

.filler{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.login{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.titler{
    margin-top: 10px;
    margin-left: 10px;
}
.xshift{
    margin-left: 10px;
}
img{
    border-radius: 10px;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event{
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 40%;
    background: hsla(208, 100%, 39%, 1);
    background: linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.accs{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acc{
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 40%;
    background: hsla(208, 100%, 39%, 1);
    background: linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(208, 100%, 39%, 1) 0%, hsla(193, 100%, 50%, 1) 100%);
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rowflex{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}
select{
    background-color: deepskyblue;
    border: lightblue solid 3px;
    border-radius: 10px;
    color: white;
}
input{
    background-color: deepskyblue;
    border: lightblue solid 3px;
    border-radius: 10px;
    color: white;
}
@font-face
{
    font-family: oswald;
    src: url(/fonts/oswald.ttf);
}
